<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<add connectionString="" name="connString"/>
	</connectionStrings>

	<appSettings >
		<add key="APIEndPoint" value="https://bipub.afa.gov.tw/AFABI_Open/ForecastProduct/ForecastVegetablePlot/New//" />
		<add key="IMPORTANTCODE" value="00201002004000000,00204002001000000,00205002002000000" />

		<add key="GIT_REPOSITORY" value="" />
		<add key="GIT_USERNAME" value="" />
		<add key="GIT_PASSWORD" value="" />

		<!-- 日期格式 2019-09-01 或空字串 -->
		<add key="Data_Strat_Time" value="" />
		<add key="Data_End_Time" value="" />
	</appSettings>
</configuration>